.Card {
    border-radius: 40px 40px 40px 40px;
    box-shadow: 0px 30px 50px 0 rgba(0,0,0,0.3);
    padding: 30px;
    background-color: #fff;
}

.card-title {
    font-size: 50px;
    font-weight: bold;

}

.control {
    border-radius: 50px;
    border: 2px solid #609;
    padding: 20px; 
    width: 280px;
    height: 50px; 
}

.form-outline11 input[type=email]{
    padding-left:53px ;
}

.form-outline11 img{
    position: absolute;
    top: 454.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    width: 45px;
    padding: 2px 4px;
    margin: 6px;
}

.form-outline12 input[type=email]{
    padding-left:53px ;
}

.form-outline12 img{
    position: absolute;
    top: 453px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    width: 45px;
    padding: 2px 4px;
    margin: 7px;
}

.form-outline13 input[type=text]{
    padding-left:53px ;
}

.form-outline13 img{
    position: absolute;
    top: 568px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    width: 45px;
    padding: 2px 4px;
    margin: 7px;
}

.form-outline14 input[type=password]{
    padding-left:53px ;
}

.form-outline14 img{
    position: absolute;
    top: 508px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    width: 35px;
    padding: 2px 4px;
    margin: 14px;
}

.form-outline15 input[type=password]{
    padding-left:53px ;
}

.form-outline15 img{
    position: absolute;
    top: 574px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    width: 35px;
    padding: 2px 4px;
    margin: 14px;
}

.cancel {
    margin-left: 20px;
}

.vb {
    background-color: rgb(122, 35, 166);
}
